<!-- app.component.html -->
<div class="flex h-screen overflow-hidden">
    <app-sidebar></app-sidebar>
    
    <main class="flex flex-col flex-1 overflow-hidden">
        <app-header></app-header>

        <div class="px-4 pt-2 bg-white shadow-sm z-10">
      <app-breadcrumb></app-breadcrumb>
    </div>
        
      <!-- Main content -->
      <section class="main-content flex-grow p-4 overflow-y-auto bg-gray-100">
        <router-outlet></router-outlet>
      </section>
    </main>

</div>
