<!-- Sidebar -->
<aside class="hidden md:flex md:flex-shrink-0">
    <div class="flex flex-col w-64 bg-white border-r border-gray-200">
      <div class="flex items-center justify-center h-16 px-4 bg-blue-500 text-white">
        <h1 class="text-xl font-bold">QUẢN LÝ PHÒNG TRỌ</h1>
      </div>
      <div class="flex flex-col flex-grow px-4 py-4 overflow-y-auto">
        <nav class="flex-1 space-y-2">
          <!-- Nếu là chủ trọ -->
          <ng-container *ngIf="role === 'User'">
            <a class="flex items-center px-4 py-2 text-lg font-medium text-white rounded-md bg-blue-500">
              <i class="fas fa-home mr-3"></i>
              Tổng quan
            </a>
            <a (click)="navigateToHouse()" class="flex items-center px-4 py-2 text-lg font-medium text-gray-700 rounded-md hover:bg-gray-100 cursor-pointer">
              <i class="fas fa-building mr-3"></i>
              Nhà trọ
            </a>
            <a (click)="navigateToRoom()" class="flex items-center px-4 py-2 text-lg font-medium text-gray-700 rounded-md hover:bg-gray-100 cursor-pointer">
              <i class="fas fa-door-open mr-3"></i>
              Phòng trọ
            </a>
            <a (click)="navigateToTenant()" class="flex items-center px-4 py-2 text-lg font-medium text-gray-700 rounded-md hover:bg-gray-100 cursor-pointer">
              <i class="fas fa-users mr-3"></i>
              Khách thuê
            </a>
            <a (click)="navigateToInvoice()" class="flex items-center px-4 py-2 text-lg font-medium text-gray-700 rounded-md hover:bg-gray-100 cursor-pointer">
              <i class="fas fa-file-invoice-dollar mr-3"></i>
              Hóa đơn
            </a>
            <a (click)="navigateToSupport()" class="flex items-center px-4 py-2 text-lg font-medium text-gray-700 rounded-md hover:bg-gray-100 cursor-pointer">
              <i class="fas fa-tools mr-3"></i>
              Hỗ trợ
            </a>
            <a (click)="navigateToAdvertisement()" class="flex items-center px-4 py-2 text-lg font-medium text-gray-700 rounded-md hover:bg-gray-100 cursor-pointer">
              <i class="fa-solid fa-rectangle-ad mr-3"></i>
              Quảng cáo
            </a>
          </ng-container>

          <!-- Nếu là webadmin -->
          <ng-container *ngIf="role === 'Admin'">
            <a (click)="navigateTo('/webadmin/home')" class="flex items-center px-4 py-2 text-lg font-medium text-white rounded-md bg-blue-500 cursor-pointer">
              <i class="fas fa-home mr-3"></i>
              Trang chính
            </a>
            <a (click)="navigateTo('/webadmin/user-management')" class="flex items-center px-4 py-2 text-lg font-medium text-gray-700 rounded-md hover:bg-gray-100 cursor-pointer">
              <i class="fas fa-users mr-3"></i>
              Quản lý người dùng
            </a>
            <a (click)="navigateTo('/webadmin/advertisement-management')" class="flex items-center px-4 py-2 text-lg font-medium text-gray-700 rounded-md hover:bg-gray-100 cursor-pointer">
              <i class="fas fa-file-alt mr-3"></i>
              Quản lý quảng cáo
            </a>
            <a (click)="navigateTo('/webadmin/service-packages')" class="flex items-center px-4 py-2 text-lg font-medium text-gray-700 rounded-md hover:bg-gray-100 cursor-pointer">
              <i class="fas fa-history mr-3"></i>
              Quản lý gói dịch vụ
            </a>
            <a (click)="navigateTo('/webadmin/support')" class="flex items-center px-4 py-2 text-lg font-medium text-gray-700 rounded-md hover:bg-gray-100 cursor-pointer">
              <i class="fas fa-life-ring mr-3"></i>
              Hỗ trợ
            </a>
          </ng-container>

        </nav>
      </div>
    </div>
  </aside>